@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background-transparent: #d2c6ad00;
    --background: #d2c6ad;
    --foreground: #0f0f0e;

    --card: #d2c6ad;
    --card-foreground: #0f0f0e;

    --popover: #d2c6ad;
    --popover-foreground: #0f0f0e;

    --primary: #0f0f0e;
    --primary-hover: #3d3d3a;
    --primary-foreground: #e8e6dc;

    --secondary: #e8e6dc;
    --secondary-foreground: #0f0f0e;

    --destructive: #ef4444;
    --destructive-foreground: #e8e6dc;

    --muted: #e8e6dc;
    --muted-foreground: #7a7268;

    --accent: #e8e6dc;
    --accent-foreground: #0f0f0e;

    --border: #0f0f0e;
    --input: #0f0f0e;
    --ring: #0f0f0e;

    --chart-1: #e45d4c;
    --chart-2: #2fa4a4;
    --chart-3: #27465a;
    --chart-4: #f2b94b;
    --chart-5: #f08c3c;

    --radius: 0.5rem;
  }

  .dark {
    --background-transparent: #0c0a0900;
    --background: #0f0f0e;
    --foreground: #d2c6ad;

    --card: #0f0f0e;
    --card-foreground: #d2c6ad;

    --popover: #0f0f0e;
    --popover-foreground: #d2c6ad;

    --primary: #d2c6ad;
    --primary-foreground: #0f0f0e;

    --secondary: #292524;
    --secondary-foreground: #d2c6ad;

    --destructive: #7f1d1d;
    --destructive-foreground: #d2c6ad;

    --muted: #292524;
    --muted-foreground: #a8a29e;

    --accent: #292524;
    --accent-foreground: #d2c6ad;

    --border: #292524;
    --input: #292524;
    --ring: #d2c6ad;

    --chart-1: #2563eb;
    --chart-2: #16a34a;
    --chart-3: #f97316;
    --chart-4: #a855f7;
    --chart-5: #e11d48;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  @keyframes snowfall {
    from {
      top: 0;
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    to {
      top: 100vh;
    }
  }
}
